In [3]:
import pandas as pd

covid_file = "Folkhalsomyndigheten_Covid19.xlsx"

veckodata_riket_df = pd.read_excel(covid_file, sheet_name = "Veckodata Riket")

In [7]:
veckodata_riket_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   år                              89 non-null     int64
 1   veckonummer                     89 non-null     int64
 2   Antal_fall_vecka                89 non-null     int64
 3   Antal_fall_100000inv_vecka      89 non-null     int64
 4   Antal_fall_100000inv_14dagar    89 non-null     int64
 5   Kum_antal_fall                  89 non-null     int64
 6   Kum_fall_100000inv              89 non-null     int64
 7   Antal_nyaintensivvårdade_vecka  89 non-null     int64
 8   Kum_antal_intensivvårdade       89 non-null     int64
 9   Antal_avlidna_vecka             89 non-null     int64
 10  Antal_avlidna_milj_inv_vecka    89 non-null     float64
 11  Kum_antal_avlidna               89 non-null     int64
 12  Kum_antal_avlidna_milj_inv      89 non-null     float64
dtypes: float64(2), int64(11)
memory usage: 9.2 KB

In [12]:
veckodata_riket_df.head()

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
0,2020,6,1,0,0,1,0,0,0,0,0.0,0,0.0
1,2020,7,0,0,0,1,0,0,0,0,0.0,0,0.0
2,2020,8,0,0,0,1,0,0,0,0,0.0,0,0.0
3,2020,9,13,0,0,14,0,0,0,0,0.0,0,0.0
4,2020,10,211,2,2,225,2,3,3,0,0.0,0,0.0