## Anonymisering

In [17]:
import hashlib as hl

secret = "gore_bord@gmail.com".encode()

print(secret)

secret_hash1 = hl.sha256(secret).hexdigest()

print(f"secret_hash1: {secret_hash1}")

secret_hash2  = hl.sha256("gore_bord@gmail.com".encode()).hexdigest()

print(f"secret_hash2: {secret_hash2}")

secret_hash3  = hl.sha256("gore_bord1@gmail.com".encode()).hexdigest()

print(f"secret_hash2: {secret_hash3}")

secret_hash1 == secret_hash2

b'gore_bord@gmail.com'
secret_hash1: 7d6d9a849ccc7f5febe065ebe3b4f39558fc96ef865e02333dd7b7426ff0c057
secret_hash2: 7d6d9a849ccc7f5febe065ebe3b4f39558fc96ef865e02333dd7b7426ff0c057
secret_hash2: 0290afd54f254c13b9b8c0d6037e4aaf26c65bb025b1815f2ef8a81f3042d7dc

True

In [19]:
import pandas as pd

alphabet = list("abcdefghijklmnopqrstuvwxyz")

i = 1
test = [["a"], ["a"], ["a"], ["a"]]
for charplace

a
b
s
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [29]:
import pandas as pd

bank = pd.read_csv("./Data/BankChurners.csv")

bank["CLIENTNUM"].head()

0    768805383
1    818770008
2    713982108
3    769911858
4    709106358
Name: CLIENTNUM, dtype: int64

In [30]:
bank["CLIENTNUM"] = bank["CLIENTNUM"].astype(str)

bank["CLIENTNUM"].head()

0    768805383
1    818770008
2    713982108
3    769911858
4    709106358
Name: CLIENTNUM, dtype: object

In [32]:
hash_series = bank["CLIENTNUM"].apply(lambda x: hl.sha256(x.encode()).hexdigest())

In [33]:
hash_series

0        c9bbef56f9d8292cb3cfa8ae91f9b9167390e6e4b514d5...
1        7996e2340d70489252370a5df035ec99381c8344cc3511...
2        6fb53dbc743724e086243b5bc288df62b4a6dc1b8bde92...
3        f86b86a1047317685f29c399059b199858685faf5ec6a8...
4        0d239470b0cb57e110cf60bc3865344ee2cdced6e3acdc...
                               ...
10122    5d74fc2a096fd2cff997508f7c9113a536baedde263ea6...
10123    3bc4758c36022672c79630afa3a75383a68c424670a890...
10124    c5b0077515f55ffa6eb3d8e36432bbf1e550a835e53193...
10125    c92e42249aeab9893aa98f8ed824361447e005a1805bd8...
10126    fd6700f076addd734bdb51b40adda26805839ccd3e66f6...
Name: CLIENTNUM, Length: 10127, dtype: object

In [35]:
bank.insert(1, "Hashed clientnum", hash_series)

ValueError: cannot insert Hashed clientnum, already exists

In [36]:
bank

,CLIENTNUM,Hashed clientnum,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,c9bbef56f9d8292cb3cfa8ae91f9b9167390e6e4b514d5...,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,7996e2340d70489252370a5df035ec99381c8344cc3511...,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,6fb53dbc743724e086243b5bc288df62b4a6dc1b8bde92...,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,f86b86a1047317685f29c399059b199858685faf5ec6a8...,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,0d239470b0cb57e110cf60bc3865344ee2cdced6e3acdc...,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,5d74fc2a096fd2cff997508f7c9113a536baedde263ea6...,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,3bc4758c36022672c79630afa3a75383a68c424670a890...,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,c5b0077515f55ffa6eb3d8e36432bbf1e550a835e53193...,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,c92e42249aeab9893aa98f8ed824361447e005a1805bd8...,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,fd6700f076addd734bdb51b40adda26805839ccd3e66f6...,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377